<%require_relative '../lib/game.rb' %>

<h1> <%= @player.name %> is playing <%= @computer.name %> </h1>
<h3> Let us play - make a choice </h3>


<form action="/play" method="POST">
  <% CHOICES.each do |choice| %>
    <input id="<%=choice%>" type='image' src="images/<%=choice.to_s.downcase%>_small.jpg" alt="<%=choice%>" width="75" height="100" name="pick" value="<%=choice%>">
  <% end %>

  <input type="submit" value="Submit">
</form>

